:root {
}

body {
    padding: 0;
    margin: 0;
    background: orange;
}

p {
    font-size: 20px;
}

main {
    /* margin: auto; */
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    height: 270px;
    width: 300px;
    background: white;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    padding: 20px;
    border-radius: 20px;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text > p {
    margin: 14px;
}

.card-btns {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.new-book {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
